@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
    font-family: 'Roboto',
        sans-serif;
}

.primary-button {
    padding: 5px 30px;
    border-radius: 5px;
}

.footer-area {
    background-color: #0B0D17;
    width: 100%;
}